.card {
	margin-bottom: 20px;
}

.card-header {
	font-size: 1.2rem;
}

.card-footer {
	padding:0px 20px;
}

.card span {
	font-size: 2rem;
	padding-left:50px;
}

.slider input{
	width: 400px;
  height: 20px;
  margin: 0;
}

#cyanbox .card-header {
	background-color: cyan;
}

#magentabox .card-header {
	background-color: magenta;
	color: white;
}
#yellowbox .card-header {
	background-color: yellow;
}